h1{
	background-image:
    radial-gradient(circle at 48% 77%, rgba(27, 27, 27,0.04) 0%, rgba(27, 27, 27,0.04) 50%,rgba(135, 135, 135,0.04) 50%, rgba(135, 135, 135,0.04) 100%),
    radial-gradient(circle at 74% 36%, rgba(223, 223, 223,0.04) 0%, rgba(223, 223, 223,0.04) 50%,rgba(113, 113, 113,0.04) 50%, rgba(113, 113, 113,0.04) 100%),
    radial-gradient(circle at 62% 13%, rgba(16, 16, 16,0.04) 0%, rgba(16, 16, 16,0.04) 50%,rgba(168, 168, 168,0.04) 50%, rgba(168, 168, 168,0.04) 100%),
    linear-gradient(223deg, rgb(37, 143, 136),rgb(87, 117, 249));
	color: rgba(255, 255, 255, 1);
}

.article-header{
  position: relative;
  background-color: #ddd;
  padding: 20px;
  transition: 0.4s;
}

.article-header h3{
  font-size: 1.5rem;
}

.article-header button:focus{
  outline: 0;
}

.info{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media(max-width: 576px){
  .article-header h3{
    font-size: 1rem;
  }
}